/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700); 
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

// Font Variables
$montserrat:  Montserrat, "Helvetica Neue", Helvectica, Arial, sans-serif;
$open-sans:  'Open Sans', 'Helvetica Neue', Helvetica,Arial, sans-serif;

/* TABLE OF CONTENTS

    1. Preloader
    2. Basic Document Styles
    3. Navigation
    4. Header
    5. Status
    6. Skills
    7. Portfolio
    8. Here Me
    9. Resume
    10. Clients
    11. Contact
    12. Footer
    13. Social Icon
    14. Portfolio Modal
    15. Media Queries
*/



/* 1. Preloader
-------------------------------------------------*/


/* 2. Basic Document Styles
-------------------------------------------------*/
body{
    overflow-x: hidden;
    font-family: $open-sans;
}


header{
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-position: center center;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}  


/* 3. Navigation */
.navbar-default {
    color: #fff;
   
    height: 50px;
    
}

.navbar-default container 
{
    padding-right: 0px;
    padding-left: 0px;
}

.nabar-default .container-fluid
{
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-default .navbar-brand
{
    color: #4d4d50;
    font-family: Montserrat, "Helvectica Neue", Helvectica, Arial, sans-serif;
}

.navbar-default .navbar-toggle {
    border-color: #13B0A5;
    background-color: #13B0A5;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
{
    background-color: #13B0A5;
}

.navbar-default .navbar-toggle .icon-bar 
{
    background-color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active
{
    color: #13B0A5;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav.active
{
    color: #13B0A5;
}

.navbar-default .nav li a {
        text-transform: uppercase;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        color: #4d4d50;
    }
    
.header-shrink {
    
}

.navbar-fixed-top.header-shrink .navbar-brand {
   
}

.navbar-fixed-top.header-shrink {
       
}

.navbar-fixed-top.header-shrink .nav li a {
    color: #4d4d50;
}

    
/* 4. Header */
.description-about{
    width: 200px;
    padding: 20px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    font-family: Montserrat, "Helvectica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400px;
    letter-spacing: 1px;
}

.intro-text a:hover,
.intro-text a:focus,
.intro-text a:active
 {
    color: #13B0A5;
    text-decoration: none;
    border-color: #13B0A5;
}

.intro-description {
        font-family:Droid Serif, "Helvetica Neue", Helvectica, Arial, sans-serif;
        font-weight: 400;
        font-size: 25px;
        font-style: Italic;
        margin-bottom: 50px;
}

.intro-heading {
    font-family: $montserrat; <!-- Montserrat, "Helvetica Neue", Helvectica, Arial, sans-serif; -->
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
    line-height: 50px;
}

.intro-text {
    
    padding-top: 100px;
    padding-bottom: 50px;
}

/* 5. About */
#about 
{
    text-align: center;
    padding-top: 100px;
}

#about hgroup
{
    padding-bottom: 75px;
}

#about hgroup h1 {
    font-family: Open Sans, "Helvectica Neue", Helvectica, Arial, sans-serif;
    font-weight: 700px;
    border-bottom: 6px solid #13B0A5;
    display: inline-block;
    text-transform: uppercase;
}

.about-description
{
   font-family: Droid Serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 400px;
   font-style: italic;
}

.img-circle
{
    margin-right: auto;
    margin-left: auto;
}

#about h2
{
    text-align: left;
    text-transform: uppercase;
    color: #4d4d50;
    font-family: Montserrat, "Helvectica Neue", Helvectica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

.job-title
{
    text-align: left;
    text-transform: uppercase;
    color: #4d4d50;
    font-family: Montserrat, "Helvectica Neue", Helvectica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 10px;
}

#about p
{
    text-align: left;
    line-height: 2em;
    font-weight: 300;
}

.about-portrait
{
    padding-bottom: 10px;
}

#about button
{
   background-color: #13B0A5;
   color: #fff;
   font-family: Montserrat, "Helvectica Neue", Helvectica, Arial, sans-serif;
   font-weight: 700;
   padding: 10px;
   border: 0px;
   border-radius: 7pt;
}

/* 15. Media Queries */

/* Todo: Add media queries for header-shrink?? */

@media(min-width: 768px) {
    .navbar-default {
        padding: 25px;
        border: 0px;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    
    .navbar-default .nav li a {
        color: #fff;
    }

    .navbar-default .navbar-brand{
        font-size: 2em;
        color: #fff;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

}



