// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color

$header-color: #4d4d50;

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/* Fonts */
$primary-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-font: Droid Serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font: Montserrat, "Helvetica Neue", Helvectica, Arial, sans-serif;


// Color Variables
$turqoise: #13B0A5;
$off-gray: rgb(71, 77, 93);
$light-gray: #84868d;
$section-bg: rgb(247, 247, 247);
$portfolio-font: rgb(51, 51, 51);
$job-company-color: #05635D;
