// colors

/* Black Text */
$main-text: rgba(0,0,0,0.87); // main text
$secondary-text: rgba(0,0,0,0.54); // secondary text
$dividers: rgba(0, 0, 0, 0.12); // dividers
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color

/* White Text */
$white-text: #FFFFFF; // main text
$white-secondary: rgba(255, 255, 255, 0.70);
$white-dividers: rgba(255, 255, 255, 0.12);

$header-color: #4d4d50;

/* primary color */
$color-1: #2196F3; // blue 500
$color-2: #1976D2; // blue 700
$color-3: #ffffff; // white
$color-4: #E3F2FD; // blue 100

/* accent color */
$color-a1: #FFD180; // orange a100
$color-a2: #FFAB40; // orange a200
$color-a3: #FF9100; // orange a400


/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/* Fonts */
$primary-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-font: Droid Serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font: Montserrat, "Helvetica Neue", Helvectica, Arial, sans-serif;
